<nb-card>
  <nb-card-header>
    <h2 class="text-center">Chỉnh sửa đơn hàng</h2>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="ordersForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group mb-3">
        <label for="customers" class="form-label">Khách hàng</label>
        <select id="customers" formControlName="customers" class="form-control" required>
          <option value="">Chọn khách hàng</option>
          <option *ngFor="let customer of customers" [ngValue]="customer._id">{{ customer.username }}</option>
        </select>
        <div *ngIf="ordersForm.get('customers').touched && ordersForm.get('customers').invalid"
          class="invalid-feedback">
          Khách hàng là bắt buộc.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="products" class="form-label">Sản phẩm</label>
        <select id="products" formControlName="products" class="form-control" required>
          <option value="">Chọn sản phẩm</option>
          <option *ngFor="let product of products" [ngValue]="product._id">{{ product.name }}</option>
        </select>
        <div *ngIf="ordersForm.get('products').touched && ordersForm.get('products').invalid" class="invalid-feedback">
          Sản phẩm là bắt buộc.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="quantity" class="form-label">Số lượng</label>
        <input id="quantity" formControlName="quantity" class="form-control" type="number" required />
        <div *ngIf="ordersForm.get('quantity').touched && ordersForm.get('quantity').invalid" class="invalid-feedback">
          Số lượng là bắt buộc.
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="status" class="form-label">Trạng thái</label>
        <select id="status" formControlName="status" class="form-control" required>
          <option value="">Chọn trạng thái</option>
          <option value="Đã đặt">Đã đặt</option>
          <option value="Chưa đặt">Chưa đặt</option>
        </select>
        <div *ngIf="ordersForm.get('status').touched && ordersForm.get('status').invalid" class="invalid-feedback">
          Trạng thái là bắt buộc.
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Cập nhật</button>
    </form>
  </nb-card-body>
</nb-card>