<nb-card>
  <nb-card-header>
    <h2 class="text-center">Thêm mới sản phẩm</h2>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="productForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="form-group mb-3">
        <label for="name" class="form-label">Tên sản phẩm</label>
        <input id="name" formControlName="name" class="form-control" type="text" required />
        <div *ngIf="productForm.get('name').touched && productForm.get('name').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('name').errors?.required">Tên sản phẩm là bắt buộc.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="describes" class="form-label">Mô tả</label>
        <textarea id="describes" formControlName="describes" class="form-control" rows="3" required></textarea>
        <div *ngIf="productForm.get('describes').touched && productForm.get('describes').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('describes').errors?.required">Mô tả là bắt buộc.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="price" class="form-label">Giá</label>
        <input id="price" formControlName="price" class="form-control" type="number" required />
        <div *ngIf="productForm.get('price').touched && productForm.get('price').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('price').errors?.required">Giá là bắt buộc.</div>
          <div *ngIf="productForm.get('price').errors?.min">Giá phải lớn hơn hoặc bằng 0.</div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="filename" class="form-label">Ảnh sản phẩm</label>
        <input id="filename" formControlName="filename" class="form-control" type="file" (change)="onFileChange($event)" required />
        <div *ngIf="productForm.get('filename').touched && productForm.get('filename').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('filename').errors?.required">Ảnh sản phẩm là bắt buộc.</div>
        </div>
      </div>
       
      <div class="form-group mb-3">
        <label for="quantity" class="form-label">Số lượng</label>
        <input id="quantity" formControlName="quantity" class="form-control" type="number" required />
        <div *ngIf="productForm.get('quantity').touched && productForm.get('quantity').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('quantity').errors?.required">Số lượng là bắt buộc.</div>
          <div *ngIf="productForm.get('quantity').errors?.min">Số lượng phải lớn hơn hoặc bằng 0.</div>
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="brand" class="form-label">Nhãn hiệu</label>
        <input id="brand" formControlName="brand" class="form-control" type="text" required />
        <div *ngIf="productForm.get('brand').touched && productForm.get('brand').invalid" class="invalid-feedback">
          <div *ngIf="productForm.get('brand').errors?.required">Nhãn hiệu là bắt buộc.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!productForm.valid">Thêm mới</button>
    </form>    
  </nb-card-body>
</nb-card>
