<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <span>Danh sách nhân viên</span>
      <button class="btn btn-primary" nbButton (click)="navigateToCreate()">
        <span>Thêm</span><i class="bi bi-plus"></i>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>STT</th>
            <th>Họ và Tên</th>
            <th>Chức vụ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Giới tính</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ employee.username }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.gender }}</td>
            <td>
              <button class="btn btn-primary btn-sm m-md-2" (click)="editEmployee(employee)">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="openDeleteModal(deleteModal, employee)">{{employee.displayName}}
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>

<!-- Delete Modal -->
<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Xóa nhân viên</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Bạn có chắc chắn muốn xóa nhân viên này!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">Hủy</button>
  </div>
</ng-template>
